/* Beginning of Body Styles */


/* ***************************************************************************************************** */

body {
    background-color: #101010;
    color: #999;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    /* width: 100% !important; */
}


/* Beginning of Side Bar Styles */


/* ***************************************************************************************************** */

#side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

#side-menu .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 50px;
    margin-left: 50px;
    text-decoration: none;
    color: whitesmoke;
    overflow-x: hidden;
}

#sidebar-wrapper {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    margin-left: -300px;
    left: 300px;
    overflow-y: auto;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper-a a {
    padding: 6px 8px 20px 56px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

#sidebar-wrapper a:hover {
    color: #f1f1f1;
}


/* Beginning of Card Styles */


/* ***************************************************************************************************** */

img {
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background: #101010;
    margin-bottom: 1rem;
    border: none;
}

.card img {
    height: auto;
}

@media(max-width:600px) {
    .card {
        display: flex;
    }
    .cardPricingContent {
        margin-top: 1rem;
        border-radius: 5%;
    }
}

@media(max-width:991px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
    /* .cardPricing {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4rem;
        margin-bottom: 2rem;
    } */
    /* .cardPricing {
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
    } */
}


/* Card class on Services Page */


/* ***************************************************************************************************** */

.cardServices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.cardServices>div {
    padding: 1rem;
}

.cardServices h3 {
    color: whitesmoke;
}

.cardServices:nth-child(even) img {
    order: 2;
}

.cardPricingContent {
    background: black;
    padding: 3rem;
    text-align: center;
}

.cardPricing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    border: none;
}

.btn {
    display: inline-block;
    background: #000;
    color: #999;
    padding: 0.8rem 1.8rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 20%;
}

.btn:hover {
    opacity: 0.8;
}

@media(max-width:768px) {
    .cardServices {
        display: block;
    }
}


/* Scroll Bar Styles */


/* ***************************************************************************************************** */

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    background: #000;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: grey;
}


/* Beginning of Wrapper Styles */


/* ***************************************************************************************************** */

#wrapper {
    padding-left: 300px;
    transition: all 0.4s ease 0s;
    overflow-x: hidden;
}

#page-content-wrapper {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#header-image {
    background-image: url('/images/photography1.jpg');
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

#header {
    overflow: hidden;
}

#header-image {
    border: none;
    height: 100vh;
    transition: 1s;
    background-image: url('/images/paulphotography2.jpg');
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
}

@media (max-width:600px) {
    #introText {
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 130px;
        margin-bottom: 140px;
        text-align: center;
    }
}

@media (min-width:600px) {
    #introText {
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 170px;
        margin-bottom: 180px;
        text-align: center;
    }
}

@media (min-width:768px) {
    #introText {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 170px;
        margin-bottom: 180px;
        text-align: center;
    }
}

@media (min-width:992px) {
    #introText {
        padding-left: 170px;
        padding-right: 170px;
        margin-top: 170px;
        margin-bottom: 180px;
        text-align: center;
    }
}

@media (max-width:1200px) {
    .cardServices>div {
        padding-top: 1rem;
    }
    .cardPricing {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;
        border: none;
    }
}

@media (max-width:1100px) {
    .cardPricing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;
        border: none;
        padding-left: 6vh;
        padding-right: 6vh;
    }
}

@media (max-width:884px) {
    .cardPricing {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;
        border: none;
        padding-left: 6vh;
        padding-right: 6vh;
    }
}

@media (min-width:1200px) {
    #introText {
        padding-left: 240px;
        padding-right: 240px;
        margin-top: 170px;
        margin-bottom: 180px;
        text-align: center;
    }
}


/* Overlay styles */

.overlay {
    position: absolute;
    height: 100%;
    padding-top: 76vh;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

@media(max-width:768px) {
    .overlay {
        padding-left: 3rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.overlay h1 {
    font-weight: 700;
    margin: 0 0 5px;
}

footer {
    padding-top: 140px;
    text-align: center;
}

.fa {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.footer-social-icons a {
    text-decoration: none;
    font-size: 16px;
}

#big-screen {
    padding-top: 1px;
    padding-bottom: 15x;
    text-align: center;
}

#big-screen a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
}

#big-screen a:hover {
    color: #f1f1f1;
}

.menuButton {
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: transparent;
    position: fixed;
    top: 2vh;
    left: 2vh;
    z-index: 1;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: grey;
    margin: 6px 0;
    transition: 0.4s;
}

#btnBookk {
    background: #222;
    height: 25px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
}

#btnBookk #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

.noselectk {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btnBookk:hover {
    background: transparent;
}

#btnBookk:hover #circle {
    height: 25px;
    width: 224px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}